* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#main {
  background-color: black;
  height: 40%;
  img {
    width: 200px;
    height: 100px;
    margin-left: 47%;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  i {
    color: wheat;
    padding: 5px;
    float: inline-end;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 30px;
  }
}
#navbar {
  height: 30%;
  nav {
    height: 40%;
    flex: 1;

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10%;
      margin-left: 15%;
      margin-top: 1%;

      li {
        list-style: none;
        a {
          color: black;
          font-size: 20px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;

          // padding: 10px 20px;
          &:hover {
            color: black;

            padding: 10px 20px;
            // background-color: ;
            border-radius: 10px;
            // transition: all 0.4s;
          }
        }
      }
    }
  }
}
// circle photos section
.circle {
  height: 30%;
  .photos {
    display: flex;
    gap: 2%;
    margin-left: 40px;
    border: #fad298;
    margin-left: 500px;
    .photo1 {
      margin-left: 50px;
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border-color: 2px solid #fad298;
      }
      h1 {
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: 7px;
      }
    }
  }
}
// circle photos section ended
img {
  width: 100%;
  height: 30%;
}
.line {
  display: flex;
  margin-top: 10%;
  .content {
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin-left: 15%;
  }
}
#centre {
  h3 {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 100;
  }
}
.button {
  margin-left: 40%;
  margin-top: 40px;
  margin-bottom: 50px;
  button {
    font-size: 16px;
    letter-spacing: 0px;
    border-radius: 25px;
    padding: 5px 50px;
    margin-left: 0;
    font-family: "Futura", sa;
    padding-bottom: 40px;
  }
}
#products {
  height: 20%;
  width: 40%;

  // border-radius: 15px;// border: 2px solid orange;
  // border: 3px solid #fad298;
  .all-products {
    display: flex;
    margin-left: 10px;

    .product {
      border: 3px solid #fad298;
      border-radius: 15px;
      margin-left: 20px;
      width: 90%;
      img {
        height: 350px;
        width: 350px;
      }
      // n1{
      //   background: linear-gradient(
      //   82.15deg,
      //   #ffdd9d -4.58%,
      //   #7e5b33 21.83%,
      //   #a37e56 24.97%,
      //   #fff2cd 40.84%,
      //   #e7bf88 56.11%,
      //   #ffdd9d 67.22%,
      //   #a37e56 79.81%,
      //   #e7bf88 86.78%,
      //   #e7bf88 105.81%,
      //   #7e5b33 106.47%,
      //   #fff2cd 158.31%,
      //   #fff2cd 163.15%,
      //   #a37e56 188.07%);
      //   padding: 50x;
        
      }
    }
  }
  .product-content {
    background-color: black;
    width: 100%;

    p {
      color: white;
      margin-left: 10px;
      font-size: 25px;
      span{
        text-decoration: line-through;
        font-size: 20px;
      }
    }
    h6 {
      color: white;
      margin-left: 10px;
    }
    button {
      margin-left: 10px;
      color: #000;
      background: linear-gradient(
        82.15deg,
        #ffdd9d -4.58%,
        #7e5b33 21.83%,
        #a37e56 24.97%,
        #fff2cd 40.84%,
        #e7bf88 56.11%,
        #ffdd9d 67.22%,
        #a37e56 79.81%,
        #e7bf88 86.78%,
        #e7bf88 105.81%,
        #7e5b33 106.47%,
        #fff2cd 158.31%,
        #fff2cd 163.15%,
        #a37e56 188.07%
      );
      border-radius: 20px;
      // padding: 10px 28px;
      font-weight: 800;
      width: 90%;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      h2 {
        font-weight: 200;
        font-size: 15px;
      }
      h6 {
        margin-left: 10px;
        font-weight: 100;
        font-size: 10px;
      }
    }
  }

.btn2 {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;

  button {
    // color: brown;
    // // text-align: center;
    // margin-top: 0%;
    // margin-bottom: 40%;
    // padding-right: 25px;
    // font-weight: 400;
    // border: 2px solid brown;
    // padding-top: 20px;
    // padding-bottom: 20px;
    color: #901913;
    border: 1px solid #79120c;
    font-size: 19px;
    border-radius: 25px;
    font-weight: 800;
    padding: 10px 28px;
    margin-top: 12px;
    text-transform: inherit;
    letter-spacing: 0px;
    font-family: "Futura", sans-serif;
  }
  button :hover {
    color: white;
  }
}
.black {
  background-color: #000;
  width: 100%;
  height: 10%;
  h5 {
    color: #fad298;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  h4 {
    color: #fad298;
    text-align: center;
    font-size: 40px;
    font-weight: 100;

    margin-bottom: 5%;
  }
}
.shapes{
  display: flex;
  margin-left: 20%;
  margin-bottom: 4%;
  .shp{
    img{
      width: 110%;
      height: 600px;
      // margin-left: 90%;
      gap: 3%;
    }
  }
}
.half section {
  margin-bottom: 4%;
  h1{
    // text-align: center;
    font-size: 10px;
    font-weight: 100;
    justify-content: center;
    margin-left: 5%;
    
  }
}
#anotherone {
  height: 20%;
  width: 40%;
  margin-top: 3%;
  margin-left: 4%;

  // border-radius: 15px;// border: 2px solid orange;
  // border: 3px solid #fad298;
  .foundation {
    display: flex;
    margin-left: 10px;
    .found{
      border: 3px solid #fad298;
      border-radius: 15px;
      margin-left: 20px;
      width: 90%;
      img {
        height: 350px;
        width: 350px;
      }
    }
  }
  .product-content {
    background-color: black;
    width: 100%;

    p {
      color: white;
      margin-left: 10px;
      font-size: 25px;
      span{
        text-decoration: line-through;
        font-size: 20px;
      }
      
      
    }
  }
  h6 {
    color: white;
    margin-left: 10px;
  }
  button {
    margin-left: 10px;
    color: #000;
    background: linear-gradient(
      82.15deg,
      #ffdd9d -4.58%,
      #7e5b33 21.83%,
      #a37e56 24.97%,
      #fff2cd 40.84%,
      #e7bf88 56.11%,
      #ffdd9d 67.22%,
      #a37e56 79.81%,
      #e7bf88 86.78%,
      #e7bf88 105.81%,
      #7e5b33 106.47%,
      #fff2cd 158.31%,
      #fff2cd 163.15%,
      #a37e56 188.07%
    );
    border-radius: 20px;
    // padding: 10px 28px;
    font-weight: 800;
    width: 90%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    h2 {
      font-weight: 200;
      font-size: 15px;
    }
    h6 {
      margin-left: 10px;
      font-weight: 100;
      font-size: 10px;
    }
  }
    }
    .btn2 {
      text-align: center;
      margin-top: 3%;
      margin-bottom: 3%;
    }
    .half section {
      margin-bottom: 4%;
      margin-top: 3%;
      h1{
        text-align: center;
        font-size: 10px;
        font-weight: 100;
        justify-content: center;
        margin-left: 5%;
        justify-content: centre;
        
      }
    }
      .grey{
        h5{
        color: grey;
        font-weight: 100;
      font-size: 20px;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 3%;
      }
    }
    .bottles{
      display: flex;
      margin-left:10px ;
        gap: 3%;
      
      .normal{
        // display: flex;
        // margin-left:10px ;
        // gap: 3%;
      
      }
      .b1{
        img{
         
        height: auto;
        padding: 10px;
        border-radius: 14px 14px 0 0;
        border: 3px solid #FAD298
        }
      }
      
        h3{
          text-transform: capitalize;
          text-align: center;
          font-weight: 100;
          font-size: 19px;
          
          padding-top: 5%;
          padding-bottom: 3%;
          background-color: #000;
        color: white;
        height: 10%;
        line-height: 0%;
        text-transform: capitalize;
        gap: 1%;
        border: 3px solid black;
        border-radius: 14px 14px 0 0;
        }
      }
     
    


